{% extends 'base.html' %}
{% block content %}
{{ super() }}
<center>
    <h1 class='title'>Городская библиотека им. В.Г. Белинского в Пензе</h1>
    <img src="/static/images/library.jpg" alt="Библиотека" width="70%" class="lib">
</center>
<blockquote>"Книги – это и самолет, и поезд, и дорога. Они и пункт назначения, и путешествие. Они – это дом."</blockquote>
<i>Анна Квидлен</i>
<h2 class="title">Читать - легко</h2>
<p>В нашей библиотеке находится множество интересных книг и произведений поэтического исскуства. Раньше чтобы прочитать любую книгу нужно было придти в библиотеку и долго искать её. С развитием интернета и технологий всё изменилось.</p>
<p>На сайте нашей библиотеки вы можете не выходя из дома найти любую книгу. Чтобы узнать, есть ли в нашей библиотеке нужная вам книга достаточно просто зайти на сайт и проверить. Вы можете легко отслеживать свои книги и узнавать, когда нужная вам книга появится в библиотеке. Даже если вы забыли сдать книгу, мы обязательно вам напомним.</p>
<p>Если по каким то причинам вы не можете взять бумажный вариант книги - в любой момент на нашем сайте можно прочитать книгу прямо в интернете. Электронных книг хватит на всех!</p>
<p>Придти к нам вы можете в любой день с 8:00 до 19:00 по адресу ул. Кирова 69, г. Пенза</p>
{% endblock %}